/* Global styles */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  color: #0000ff;
  text-decoration: none;
}

/* Header styles */

header {
  background-color: #f0f0f0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin: 0;
  padding: 0 20px;
}

/* Navigation styles */

nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
}

/* Article styles */

#content {
  width: 80%;
  margin: 0 auto;
}

article {
  margin: 20px 0;
}

article h2 {
  margin: 0 0
}